node_modules
test-lib
.tmp
.idea
.sass-cache
bower_components
npm-debug.log
newrelic_agent.log
coverage.html
dist/customErrors/argumentUndefined.js.map
dist/customErrors/index.js.map
dist/customEvents/index.js.map
dist/customEvents/indexEvents.js.map
dist/indexBuilder.js.map
dist/schema(s)/index.js.map
dist/schema(s)/indexListSchema.js.map
dist/schema(s)/loggerSchema.js.map
dist/schema(s)/mongoConfigSchema.js.map
dist/services/logger.js.map
dist/services/mongo-connection-factory.js.map
dist/services/mongoService.js.map
dist/throwWrappedError.js.map
dist/validateSchema.js.map
test/mongo-index-builder/customErrors/argumentUndefined.js.map
test/mongo-index-builder/indexBuilder.js.map
test/mongo-index-builder/mocks/create-mongo.js.map
test/mongo-index-builder/mocks/logger.js.map
test/mongo-index-builder/mocks/mockEventEmitter.js.map
test/mongo-index-builder/mocks/mockIndexBuilderService.js.map
test/mongo-index-builder/mocks/mockMongoService.js.map
test/mongo-index-builder/mocks/undefinedFactory.js.map
test/mongo-index-builder/services/logger.js.map
test/mongo-index-builder/services/mongo-connection-factory.js.map
test/mongo-index-builder/services/mongoService.js.map
test/mongo-index-builder/throwWrappedError.js.map
test/mongo-index-builder/validateSchema.js.map
